{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Ingreso - Caja de Ahorro Docentes</title>
  
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  
  <link href="{% static 'css/nucleo-icons.css' %}" rel="stylesheet" />
  <link href="{% static 'css/argon-design-system.css' %}" rel="stylesheet" />
  
  <link type="text/css" href="{% static 'core/css/custom.css' %}" rel="stylesheet" />
</head>

<body>

  <main>
    <section class="main-container">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-7">

            <div class="card card-login">
              <div class="card-header text-center">
                <img src="{% static 'core/img/logo_CAD.png' %}" alt="Logo Caja de Ahorro" class="login-logo">
              </div>
              
              <div class="card-body">
                <div class="text-center">
                  <h1 class="welcome-title">CAD UTPL</h1>
                  <p class="welcome-subtitle">Si perteneces a la Asociación de Docentes, ingresa tu correo.</p>
                </div>

                <form role="form" method="POST" class="mt-4">
                  {% csrf_token %}
                  
                  <div class="form-group mb-3">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                      </div>
                      <input class="form-control" type="email" name="email" required>
                    </div>
                  </div>
                  
                  <div class="text-center">
                    <a href="{% url 'index' %}" class="btn btn-primary btn-block my-4 btn-login">Ingresar</a>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
  </main>

  <script src="{% static 'js/core/jquery.min.js' %}"></script>
  <script src="{% static 'js/core/popper.min.js' %}"></script>
  <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
</body>

</html>