{% extends 'dashboard/admin/base.html' %}
{% load static %}

{% block dashboard_title %}Gestión de Afiliación{% endblock %}
{% block page_title %}Gestión de Afiliación{% endblock %}

{% block dashboard_content %}
<div class="card shadow border-0">
    <div class="card-body text-center p-5">
        <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
            <i class="ni ni-badge"></i>
        </div>
        <h2 class="display-4">Página en Construcción</h2>
        <p class="lead">La funcionalidad para gestionar las afiliaciones estará disponible próximamente.</p>
    </div>
</div>
{% endblock %}