{% extends 'dashboard/admin/base.html' %}
{% load static %}

{% block dashboard_title %}Dashboard Admin{% endblock %}
{% block page_title %}Dashboard{% endblock %}

{% block dashboard_content %}
<!-- Contenido del Dashboard del Administrador -->
<div class="card shadow-sm">
    <div class="card-body text-center p-5">
        <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
            <i class="ni ni-settings-gear-65"></i>
        </div>
        <h2 class="display-4">Página en Construcción</h2>
        <p class="lead">El contenido para el dashboard del administrador estará disponible próximamente.</p>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<!-- No se necesitan scripts adicionales por ahora -->
{% endblock %}
