{% extends 'core/base.html' %}
{% load static %}
{% block title %}Verificar Código{% endblock %}

{% block content %}
    <section class="section section-shaped section-lg min-vh-100">
        <div class="shape shape-style-1 bg-gradient-default"><span></span></div>
        <div class="container pt-lg-md">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card bg-secondary shadow border-0">
                        <div class="card-body px-lg-5 py-lg-5">
                            <div class="text-center text-muted mb-4">
                                <h4>Verificar tu Identidad (Paso 2 de 3)</h4>
                                <p><small>Hemos enviado un código a tu correo. Por favor, ingrésalo a
                                    continuación.</small></p>
                            </div>
                            <!-- El action apunta a la URL del siguiente paso -->
                            <form role="form" method="get" action="{% url 'password_reset_confirm' %}">
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend"><span class="input-group-text"><i
                                                class="ni ni-key-25"></i></span></div>
                                        <input class="form-control" placeholder="Código de 6 dígitos" type="text"
                                               name="codigo" required>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary my-4">Validar Código</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
