/* Estilos personalizados para el login de CADUTPL */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Evita barras de scroll innecesarias */
}

.main-content-row {
  height: 100vh;
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  padding: 2rem;
  position: relative;
}

.logo-header {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  height: 35px;
}

/* Panel derecho con la imagen promocional */
.promo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Color de fondo personalizado, ya que el de Argon es un gradiente */
  background-color: #002D62;
  padding: 3rem;
}

.promo-box {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: .3rem; /* El borde por defecto de Argon */
  padding: 3rem;
  text-align: center;
}

.promo-box h2 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.3;
}

/* Ocultar la sección de la imagen en pantallas pequeñas (tablets y móviles) */
@media (max-width: 991.98px) {
  .promo-section {
    display: none !important;
  }
}